<%if @related_ctas.length > 0 %>
  <h2>Your CTAs</h2>
<br><br>
  <table>
    <tr>
      <th>Name</th>
      <th>Pi</th>
      <th>Workflow status</th>
    </tr>

  <% @related_ctas.each do |cta| %>
    <tr>
      <td><%= link_to cta.name, cta%></td>
      <% user = User.find(cta.pi_id) %>
      <td><%= link_to user.full_name,  user%></td>
      <td><%= cta.workflow_status %></td>
    </tr>
  <% end %>
  </table>


  <br>
  <hr>
  <br>
<%end%>

<h2 class=inline>All CTAs &nbsp;&nbsp;&nbsp;&nbsp;</h2>

<%= form_tag({action: 'search'}, class: 'inline')%>
  <%= text_field :search, '', :placeholder => 'Enter search term...' %>
  <%= submit_tag 'Search'%>
<br><br>
<table>
  <tr>
    <th>Name</th>
    <th>Pi</th>
    <th>Workflow status</th>
  </tr>

<% @ctas.each do |cta| %>
  <tr>
    <td><%= link_to cta.name, cta%></td>
    <% user = User.find(cta.pi_id) %>
    <td><%= link_to user.full_name, user %></td>
    <td><%= cta.workflow_status %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cta', new_cta_path %> <br>
<%= link_to 'Admin Panel', controller: 'users', action: 'index' %>
