<p id="notice"><%= notice %></p>

<h1><%= @cta.name %></h1>
<p>
  <b>Primary Investigator: </b>
  <%= User.find(@cta.pi_id).full_name %>
  <br>
  <% if @cis.length == 1 %>
    <b>Collaborative Investigator: </b><%=" #{@cis.first.full_name}"%>
  <% elsif @cis.length > 1 %>
    <b>Collaborative Investigators:</b>
    <% @cis.each do |u| %>
  	 <br>
  	 <%= u.full_name %>
  	<% end %>
  <% end %>
</p>

<p>
  <b>Workflow status:</b>
  <%= @cta.get_status %>
  <%if (@cta.workflow_status == 0) %>
  <%= button_to "Submit to CCI", :controller => "ctas", :action => "set_status", :id=> @cta.id, :status => 1 %>
<%elsif (@cta.workflow_status == 1) %>
  <%= button_to "Submit to IRB", :controller => "ctas", :action => "set_status", :id=> @cta.id, :status => 2 %>
  <%= button_to "Defer to Investigators", :controller => 'ctas', action: 'set_status', id: @cta.id, status: 0 %>
<%end%>
</p>

<%= link_to "New Form", controller: 'forms', action: 'new', cta_id: @cta.id %>
<table>
  <tr>
    <th>Form</th>
    <th>Status</th>
    <th>Last Edited</th>
  </tr>
  <% @forms.each do |f| %>
    <tr>
      <td><%= link_to f.part, f %></td>
      <td><%= f.status %></td>
      <td><%= f.updated_at %></td>
    </tr>
  <% end %>
</table>