<p id="notice"><%= notice %></p>

<h1><%= @cta.name %></h1>
<p>
  <b>Primary Investigator: </b>
  <%= User.find(@cta.pi_id).full_name %>
  <br>
  <% if @cis.length == 1 %>
    <b><%="Collaborative Investigator: #{@cis.first.full_name}"%></b>
  <% elsif @cis.length > 1 %>
    <b>Collaborative Investigators:/b>
    <% @cis.each do |u| %>
  	 <br>
  	 <%= u.full_name %>
  	<% end %>
  <% end %>
</p>

<p>
  <b>Workflow status:</b>
  <%= @cta.get_status %>
</p>
