<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <%= "Current permissions: " %>
  <%- @current_permissions = @user.user_groups.all.uniq%>
  <%if (@current_permissions != nil) %>
    <table>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
      <%@current_permissions.each do |p| %>
        <tr>
          <td><%=p.name%></td>
          <td><%=link_to "Remove", :controller => 'users', :action => 'remove_permission', :id => @user.id, :permission_name => p.name%></td>
        </tr>
      <%end %>
    </table>
  <%else%>
    None
  <%end%>
  <br>
  <%- @permissions = UserGroup.find_all_by_group_type(1)%>
  <%= "Add permissions: " %>
  <%= select_tag :permissions, options_for_select(@permissions.collect{ |p| [p.name, p.id]}, selected: @user.get_permissions.collect{|j| j.id}), :multiple => true %>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
