<h1><%= "Search Users" + ((@search.nil?) ? '' : ' - ' + @search) %></h1>
<br>
<%= form_tag({action: 'search'})%>
  <%= text_field :search, '', :placeholder => 'Enter search term...', value: @search %>
  <%= submit_tag 'Search'%>

<% if @results.length > 0 %>
	<br><br>
	<table>
		<tr>
			<th>Name</th>
		    <th>Email</th>
	  </tr>

	<% @results.each do |user| %>
	  <tr>
	    <td><%= link_to user.full_name, user %></td>
	    <td><%= user.email %></td>
	  </tr>
	<% end %>
	</table>
<% else %>
	<h3> No results found </h3>
<% end %>
<br />

<%= link_to 'Back to Admin Control Panel', users_path %> <br>