<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>
<p>
	<b>Email:</b>
	<%= @user.email %>
</p>
<%= "Current permissions: " %>
  <%- @current_permissions = @user.user_groups.all.uniq%>
  <%if (@current_permissions != nil) %>
    <table>
      <tr>
        <th>Name</th>
      </tr>
      <%@current_permissions.each do |p| %>
        <tr>
          <td><%=p.name%></td>
        </tr>
      <%end %>
    </table>
  <%else%>
    None
  <%end%>


<% if(current_user.id == @user.id or current_user.has_permission? 'admin') %>
	<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', :back %>
