<% @contents = @form.hash_content %>
<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', :back %>
<% if @form.part == 'A' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>full_board:</b>
<%= check_box_tag 'b', 'b', ((@contents[:full_board] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>expedited:</b>
<%= check_box_tag 'b', 'b', ((@contents[:expedited] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>A1:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>title:</b>
<%= @contents[:A1][:title] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>short_title:</b>
<%= @contents[:A1][:short_title] rescue '' %><br />
&nbsp;&nbsp;<b>A2:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_id:</b>
<%= @contents[:A2][:pi_id] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>ci_ids:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>main_contact_id:</b>
<%= @contents[:A2][:main_contact_id] rescue '' %><br />
&nbsp;&nbsp;<b>A3:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>type:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>c:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:c] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>d:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:d] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>e:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:e] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>f:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:f] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>g:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:g] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>h:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:h] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>i:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:i] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>j:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:j] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>k:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:k] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>l:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:l] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>m:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:m] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>n:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:n] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>o:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:o] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>p:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:type][:p] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>p_e:</b>
<%= @contents[:A3][:type][:p_e] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>design:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:design][:a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:design][:b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>c:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:design][:c] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>phase:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>i:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:phase][:i] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>i_ii:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:phase][:i_ii] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ii:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:phase][:ii] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ii_iii:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:phase][:ii_iii] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>iii:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:phase][:iii] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>iiii:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:phase][:iiii] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:phase][:other] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>other_e:</b>
<%= @contents[:A3][:phase][:other_e] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>placebo:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A3][:placebo] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>A4:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>A:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ab:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:A][:ab] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ad:</b>
<%= @contents[:A4][:A][:ad] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>bb:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:A][:bb] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>B:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ab:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:B][:ab] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>as:</b>
<%= @contents[:A4][:B][:as] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>bs:</b>
<%= @contents[:A4][:B][:bs] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>bb:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:B][:bb] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>cb:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:B][:cb] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>C:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a1:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>conflict:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:C][:a1][:conflict] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>consulting:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:C][:a1][:consulting] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>management:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:C][:a1][:management] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>employment:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:C][:a1][:employment] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>board_directors:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:C][:a1][:board_directors] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>scientific_board:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:C][:a1][:scientific_board] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>stock:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:C][:a1][:stock] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>royalties:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:C][:a1][:royalties] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ip_rights:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:C][:a1][:ip_rights] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>author:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:C][:a1][:author] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>gift:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:C][:a1][:gift] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>loan:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:C][:a1][:loan] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:C][:a1][:other] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>other_explained:</b>
<%= @contents[:A4][:C][:a1][:other_explained] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a2:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:C][:a2] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a3:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A4][:C][:a3][:b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>s:</b>
<%= @contents[:A4][:C][:a3][:s] rescue '' %><br />
&nbsp;&nbsp;<b>A5:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>nurse:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A5][:nurse] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>drugs:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A5][:drugs] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>xray:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A5][:xray] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>investigation:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A5][:investigation] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>lab:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A5][:lab] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>transfusion:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A5][:transfusion] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>radio:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A5][:radio] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>clinical:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A5][:clinical] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>infectious:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A5][:infectious] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>genetic:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A5][:genetic] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>hazardous:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A5][:hazardous] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>expedited:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A5][:expedited] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>records:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A5][:records] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>tissue:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A5][:tissue] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A5][:other] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>A6:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>from:</b>
<%= @contents[:A6][:from] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>to:</b>
<%= @contents[:A6][:to] rescue '' %><br />
&nbsp;&nbsp;<b>A7:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>A:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>others:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A7][:A][:others] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>num:</b>
<%= @contents[:A7][:A][:num] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>B:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>lead:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A7][:B][:lead] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>institutions:</b><br />
&nbsp;&nbsp;<b>A8:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>no_funding:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:no_funding] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>reason:</b>
<%= @contents[:A8][:reason] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>yes_funding:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:yes_funding] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>industry:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:industry] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>federal:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:federal] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>foundation:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:foundation] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>internal:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:internal] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>free:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:free] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>A:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>industry:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:A][:industry] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>industry_entity:</b>
<%= @contents[:A8][:A][:industry_entity] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>investigator_external:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:A][:investigator_external] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>investigator_external_entity:</b>
<%= @contents[:A8][:A][:investigator_external_entity] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>investigator_internal:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:A][:investigator_internal] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>investigator_internal_entity:</b>
<%= @contents[:A8][:A][:investigator_internal_entity] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>B:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>office_name:</b>
<%= @contents[:A8][:B][:office_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>office_date:</b>
<%= @contents[:A8][:B][:office_date] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ra_name:</b>
<%= @contents[:A8][:B][:ra_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ra_date:</b>
<%= @contents[:A8][:B][:ra_date] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>C:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>review:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:C][:review] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>approved:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:C][:approved] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>supported:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:C][:supported] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:C][:other] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>reason:</b>
<%= @contents[:A8][:C][:reason] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>D:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>dollars:</b>
<%= @contents[:A8][:D][:dollars] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>non_monetary:</b>
<%= @contents[:A8][:D][:non_monetary] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>one_site:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:D][:one_site] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>multi_site:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:D][:multi_site] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>fed_grant_yes:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:D][:fed_grant_yes] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>fed_grant_no:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:D][:fed_grant_no] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>institution:</b>
<%= @contents[:A8][:D][:institution] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>defense:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:D][:defense] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>E:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b_y:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:E][:b_y] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b_n:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:E][:b_n] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>s:</b>
<%= @contents[:A8][:E][:s] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>F:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>grant:</b>
<%= @contents[:A8][:F][:grant] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>g_date:</b>
<%= @contents[:A8][:F][:g_date] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>funded:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:F][:funded] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>pending:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:F][:pending] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>G:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>c:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:c] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>d:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:d] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>e:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:e] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>f:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:f] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>g:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:g] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>h:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:h] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>i:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:i] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>j:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:j] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>k:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:k] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>l:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:l] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>m:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:m] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>n:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:n] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>o:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:o] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>p:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:p] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>q:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:q] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>r:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A8][:G][:r] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>A9:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>A:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:A][:a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:A][:b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>c:</b>
<%= @contents[:A9][:A][:c] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>B:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a:</b>
<%= @contents[:A9][:B][:a] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= @contents[:A9][:B][:b] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>c:</b>
<%= @contents[:A9][:B][:c] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>d:</b>
<%= @contents[:A9][:B][:d] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>e:</b>
<%= @contents[:A9][:B][:e] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>f:</b>
<%= @contents[:A9][:B][:f] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>g:</b>
<%= @contents[:A9][:B][:g] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>C:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:C][:a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:C][:b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>c:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:C][:c] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>d:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:C][:d] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>D:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>c:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:c] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>d:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:d] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>e:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:e] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>f:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:f] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>g:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:g] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>h:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:h] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>i:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:i] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>j:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:j] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>k:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:k] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>l:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:l] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>m:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:m] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>n:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:n] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>o:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:o] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>p:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:p] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>q:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:q] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>r:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:D][:r] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>ab:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:ab] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>bb:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:bb] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>cb:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:cb] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>db:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:db] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>eb:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:eb] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>E:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:E][:a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:E][:b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>c:</b>
<%= @contents[:A9][:E][:c] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>F:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:F][:a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A9][:F][:b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>c:</b>
<%= @contents[:A9][:F][:c] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>d:</b>
<%= @contents[:A9][:F][:d] rescue '' %><br />
&nbsp;&nbsp;<b>A10:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>A:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A10][:A][:a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A10][:A][:b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>c:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A10][:A][:c] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>d:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A10][:A][:d] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>e:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A10][:A][:e] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>f:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A10][:A][:f] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>g:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A10][:A][:g] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>h:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A10][:A][:h] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>i:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A10][:A][:i] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>j:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A10][:A][:j] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>B:</b>
<%= @contents[:A10][:B] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>C:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A10][:C][:a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A10][:C][:b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b_e:</b>
<%= @contents[:A10][:C][:b_e] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>c:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A10][:C][:c] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>c_e:</b>
<%= @contents[:A10][:C][:c_e] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>d:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A10][:C][:d] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>e:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A10][:C][:e] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>e_e:</b>
<%= @contents[:A10][:C][:e_e] rescue '' %><br />
&nbsp;&nbsp;<b>A11:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>A:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>c:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:c] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>d:</b>
<%= @contents[:A11][:A][:d] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>e:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:e] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>f:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:f] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>g:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:g] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>h:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:h] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>i:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:i] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>j:</b>
<%= @contents[:A11][:A][:j] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>k:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:k] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>l:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:l] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>m:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:m] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>n:</b>
<%= @contents[:A11][:A][:n] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>o:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:o] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>p:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:p] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>q:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:q] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>r:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:r] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>s:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:s] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>t:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:t] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>u:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:u] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>v:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:v] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>w:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:A][:w] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>x:</b>
<%= @contents[:A11][:A][:x] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>B:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:B][:a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:B][:b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>c:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:B][:c] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>d:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A11][:B][:d] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>A12:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A12][:a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A12][:b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>c:</b>
<%= @contents[:A12][:c] rescue '' %><br />
&nbsp;&nbsp;<b>A13:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A13][:a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:A13][:b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>c:</b>
<%= @contents[:A13][:c] rescue '' %><br />
&nbsp;&nbsp;<b>A14:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>approval_date:</b>
<%= @contents[:A14][:approval_date] rescue '' %><br />
<% end %>
<% if @form.part == 'B' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>B1:</b>
<%= @contents[:B1] rescue '' %><br />
&nbsp;&nbsp;<b>B2:</b>
<%= @contents[:B2] rescue '' %><br />
&nbsp;&nbsp;<b>B3:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>A:</b>
<%= @contents[:B3][:A] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>B:</b>
<%= @contents[:B3][:B] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>C:</b>
<%= @contents[:B3][:C] rescue '' %><br />
&nbsp;&nbsp;<b>B4:</b>
<%= @contents[:B4] rescue '' %><br />
&nbsp;&nbsp;<b>B5:</b>
<%= @contents[:B5] rescue '' %><br />
&nbsp;&nbsp;<b>B6:</b>
<%= @contents[:B6] rescue '' %><br />
&nbsp;&nbsp;<b>B7:</b>
<%= @contents[:B7] rescue '' %><br />
&nbsp;&nbsp;<b>B8:</b>
<%= @contents[:B8] rescue '' %><br />
&nbsp;&nbsp;<b>B9:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>yes:</b>
<%= check_box_tag 'b', 'b', ((@contents[:B9][:yes] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>content:</b>
<%= @contents[:B9][:content] rescue '' %><br />
<% end %>
<% if @form.part == 'C' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>Nursing:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Nursing] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>Units_Signatures:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>InpatientUnits:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Content:</b>
<%= @contents[:Units_Signatures][:InpatientUnits][:Content] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Signature:</b>
<%= @contents[:Units_Signatures][:InpatientUnits][:Signature] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>OutpatientUnits:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Content:</b>
<%= @contents[:Units_Signatures][:OutpatientUnits][:Content] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Signature:</b>
<%= @contents[:Units_Signatures][:OutpatientUnits][:Signature] rescue '' %><br />
<% end %>
<% if @form.part == 'E' %>
  <p id='notice'><%= notice %></p>
<%= link_to 'Send to Departmental Representative', controller: 'forms', action: 'send_to_rep', id: @form.id %>
&nbsp;&nbsp;<b>E1:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>Investigational:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E1][:Investigational] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>ind_num:</b>
<%= @contents[:E1][:ind_num] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>Fda_restrict:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E1][:Fda_restrict] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>Fda_restrict_explanation:</b>
<%= @contents[:E1][:Fda_restrict_explanation] rescue '' %><br />
&nbsp;&nbsp;<b>Approval_status:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>marketed:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Approval_status][:marketed] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>fda_approved:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Approval_status][:fda_approved] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>marketed_not_fda:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MNF1:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Approval_status][:marketed_not_fda][:MNF1] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MNF2:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Approval_status][:marketed_not_fda][:MNF2] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MNF3:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Approval_status][:marketed_not_fda][:MNF3] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MNF4:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Approval_status][:marketed_not_fda][:MNF4] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MNF5:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Approval_status][:marketed_not_fda][:MNF5] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>fda_not_marketed:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>FNM_ind:</b>
<%= @contents[:Approval_status][:fda_not_marketed][:FNM_ind] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>FNM_assigned:</b>
<%= @contents[:Approval_status][:fda_not_marketed][:FNM_assigned] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>FNM_CITI:</b>
<%= @contents[:Approval_status][:fda_not_marketed][:FNM_CITI] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>authorized:</b>
<%= @contents[:Approval_status][:authorized] rescue '' %><br />
&nbsp;&nbsp;<b>E2:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>generic_name:</b>
<%= @contents[:E2][:generic_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>trade_name:</b>
<%= @contents[:E2][:trade_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>manufacturer:</b>
<%= @contents[:E2][:manufacturer] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>primary_actions:</b>
<%= @contents[:E2][:primary_actions] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>how_specified:</b>
<%= @contents[:E2][:how_specified] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>route_of_admin:</b>
<%= @contents[:E2][:route_of_admin] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>carriers_preservatives:</b>
<%= @contents[:E2][:carriers_preservatives] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>special_handling:</b>
<%= @contents[:E2][:special_handling] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>therapeutic_use:</b>
<%= @contents[:E2][:therapeutic_use] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>dose:</b>
<%= @contents[:E2][:dose] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>side_effects:</b>
<%= @contents[:E2][:side_effects] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>antidotes:</b>
<%= @contents[:E2][:antidotes] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>appended_material:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>brochure:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E2][:appended_material][:brochure] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>pharmacology:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E2][:appended_material][:pharmacology] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>toxicology:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E2][:appended_material][:toxicology] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>experience:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E2][:appended_material][:experience] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>protocol:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E2][:appended_material][:protocol] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>E3:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>sponser_provides:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E3][:sponser_provides] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>charged_pi:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E3][:charged_pi] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>charged_patient:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E3][:charged_patient] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>E4:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>dispensed_pharmacy:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E4][:dispensed_pharmacy] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>where_dispensed:</b>
<%= @contents[:E4][:where_dispensed] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>investigator_supply:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E4][:investigator_supply] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>prescribers:</b>
<%= @contents[:E4][:prescribers] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>east_campus:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E4][:east_campus] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>west_campus:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E4][:west_campus] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>authorized_to_adminitrate:</b>
<%= @contents[:E4][:authorized_to_adminitrate] rescue '' %><br />
&nbsp;&nbsp;<b>E5:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>room_temp:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E5][:room_temp] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>refrigeration:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E5][:refrigeration] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>freezer_warm:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E5][:freezer_warm] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>freezer_cold:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E5][:freezer_cold] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= @contents[:E5][:other] rescue '' %><br />
&nbsp;&nbsp;<b>E6:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>special_equipment:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E6][:special_equipment] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>equipment_list:</b>
<%= @contents[:E6][:equipment_list] rescue '' %><br />
&nbsp;&nbsp;<b>E7:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>oral:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E7][:oral] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>topical:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E7][:topical] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>chemo:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E7][:chemo] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>non_chemo:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E7][:non_chemo] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>live_biologic:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E7][:live_biologic] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= @contents[:E7][:other] rescue '' %><br />
&nbsp;&nbsp;<b>E8:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>received_for_review:</b>
<%= @contents[:E8][:received_for_review] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>date_approved:</b>
<%= @contents[:E8][:date_approved] rescue '' %><br />
<% end %>
<% if @form.part == 'F' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>F1:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>diagnostic_xray:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F1][:diagnostic_xray] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>diagnostic_radioactive:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F1][:diagnostic_radioactive] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>therapeutic_radiation:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F1][:therapeutic_radiation] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>therapeutic_radioactive:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F1][:therapeutic_radioactive] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>F2:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>xray_exposure:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F2][:xray_exposure] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>nuclear_medicine:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F2][:nuclear_medicine] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>radioisotope:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F2][:radioisotope] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>physician_name:</b>
<%= @contents[:F2][:physician_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>isotope:</b>
<%= @contents[:F2][:isotope] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>chemical_form:</b>
<%= @contents[:F2][:chemical_form] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>dose:</b>
<%= @contents[:F2][:dose] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>mode:</b>
<%= @contents[:F2][:mode] rescue '' %><br />
&nbsp;&nbsp;<b>F3:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>received:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F3][:received] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>approved:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F3][:approved] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>approval_date:</b>
<%= @contents[:F3][:approval_date] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>not_need_review:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F3][:not_need_review] rescue 0)=='0' ? false : 1), disabled:true %><br />
<% end %>
<% if @form.part == 'G' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>G1:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>authorized_users:</b>
<%= @contents[:G1][:authorized_users] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>device_name_full:</b>
<%= @contents[:G1][:device_name_full] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>device_manfufacturer:</b>
<%= @contents[:G1][:device_manfufacturer] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>sponsor:</b>
<%= @contents[:G1][:sponsor] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>device_type:</b>
<%= @contents[:G1][:device_type] rescue '' %><br />
&nbsp;&nbsp;<b>G2:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>marketed_aproved:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:marketed_aproved] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>marketed_not_approved:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:marketed_not_approved] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>not_marketed_not_FDA:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:not_marketed_not_FDA] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>exempt:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>legally_marketed:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:exempt][:legally_marketed] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>label_complies:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:exempt][:label_complies] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>preference_testing:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:exempt][:preference_testing] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>early_distrobution:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:exempt][:early_distrobution] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>substantially_equivilent:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:exempt][:substantially_equivilent] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>custom_device:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:exempt][:custom_device] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>no_risk_device:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>explanation:</b>
<%= @contents[:G2][:no_risk_device][:explanation] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>no_banned:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:no_risk_device][:no_banned] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>cfr:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:no_risk_device][:cfr] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>IRB_approval:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:no_risk_device][:IRB_approval] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>informed_consent:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:no_risk_device][:informed_consent] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>monitoring_investigations:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:no_risk_device][:monitoring_investigations] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>records:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:no_risk_device][:records] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>no_promotion:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:no_risk_device][:no_promotion] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>high_risk:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>cat_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:high_risk][:cat_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>cat_b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:high_risk][:cat_b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>IDE_num:</b>
<%= @contents[:G2][:high_risk][:IDE_num] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>company:</b>
<%= @contents[:G2][:high_risk][:company] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>CITI_GCP:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>yes:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:high_risk][:CITI_GCP][:yes] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>no:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:high_risk][:CITI_GCP][:no] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>NA:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:high_risk][:CITI_GCP][:NA] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>interval:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:high_risk][:interval] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>restrictions:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:high_risk][:restrictions] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>explain_yes:</b>
<%= @contents[:G2][:high_risk][:explain_yes] rescue '' %><br />
&nbsp;&nbsp;<b>G3:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>CDE_safe:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>yes:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G3][:CDE_safe][:yes] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>no:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G3][:CDE_safe][:no] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>NA:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G3][:CDE_safe][:NA] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>G4:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>location:</b>
<%= @contents[:G4][:location] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>dispensing:</b>
<%= @contents[:G4][:dispensing] rescue '' %><br />
&nbsp;&nbsp;<b>G5:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>cost:</b>
<%= @contents[:G5][:cost] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>who_paying:</b>
<%= @contents[:G5][:who_paying] rescue '' %><br />
&nbsp;&nbsp;<b>G6:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>IDE_attachment:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G6][:IDE_attachment] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>no_risk_attachment:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G6][:no_risk_attachment] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>device_brochure:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G6][:device_brochure] rescue 0)=='0' ? false : 1), disabled:true %><br />
<% end %>
<% if @form.part == 'J' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>J1:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>infectious_agent:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J1][:infectious_agent] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>xenotransplantation:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J1][:xenotransplantation] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>non_human_materials:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J1][:non_human_materials] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>J2:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>approved:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>yes_when:</b>
<%= @contents[:J2][:approved][:yes_when] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>non_aproved:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>agent_name:</b>
<%= @contents[:J2][:non_aproved][:agent_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>airbourne:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:airbourne] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>enteric:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:enteric] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>percutaneous:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:percutaneous] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>skin:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:skin] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>BIDMC_pharmacy:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:BIDMC_pharmacy] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>pharm_company:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:pharm_company] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= @contents[:J2][:non_aproved][:other] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>transport_vehicle:</b>
<%= @contents[:J2][:non_aproved][:transport_vehicle] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>injection:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:injection] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>topical:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:topical] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>intravenous:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:intravenous] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ingestion:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:ingestion] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>impatient:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:impatient] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>outpatient:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:outpatient] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>disposal:</b>
<%= @contents[:J2][:non_aproved][:disposal] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>agent_subcept:</b>
<%= @contents[:J2][:non_aproved][:agent_subcept] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>no_percautions:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:no_percautions] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>standard:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:standard] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>contact:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:contact] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>respiratory:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:respiratory] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>J3:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>under_review:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J3][:under_review] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>approved:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J3][:approved] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>no_review:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J3][:no_review] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>comments:</b>
<%= @contents[:comments] rescue '' %><br />
<% end %>
<% if @form.part == 'K' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>K1:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pop_based:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:pop_based] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>bio_sample:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:bio_sample] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pedigree:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:pedigree] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pharmaco:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:pharmaco] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= @contents[:K1][:other] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>dna:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:dna] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>tissue:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:tissue] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>protein:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:protein] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>rna:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:rna] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>cell_lines:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:cell_lines] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>store_length:</b>
<%= @contents[:K1][:store_length] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>somatic_therapy:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:somatic_therapy] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>minor_or_pregnant:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:minor_or_pregnant] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>K2:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>location_bidmc:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K2][:location_bidmc] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>K3:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>research_diclose:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>patient:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K3][:research_diclose][:patient] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>primary:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K3][:research_diclose][:primary] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>relatives:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K3][:research_diclose][:relatives] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>third_party:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K3][:third_party] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>commerce:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K3][:commerce] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>commerce_sample:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K3][:commerce_sample] rescue 0)=='0' ? false : 1), disabled:true %><br />
<% end %>
<% if @form.part == 'L' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>L1:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>hazardous_agents:</b>
<%= @contents[:L1][:hazardous_agents] rescue '' %><br />
&nbsp;&nbsp;<b>L2:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>coms_approved:</b>
<%= check_box_tag 'b', 'b', ((@contents[:L2][:coms_approved] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>no_coms_submitted:</b>
<%= check_box_tag 'b', 'b', ((@contents[:L2][:no_coms_submitted] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>coms_submitted:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>date:</b>
<%= @contents[:L2][:coms_submitted][:date] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>num_pend:</b>
<%= @contents[:L2][:coms_submitted][:num_pend] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>comments:</b>
<%= @contents[:L2][:comments] rescue '' %><br />
<% end %>
<% if @form.part == 'M' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>do_q1:</b>
<%= check_box_tag 'b', 'b', ((@contents[:do_q1] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>do_q2:</b>
<%= check_box_tag 'b', 'b', ((@contents[:do_q2] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>do_q3:</b>
<%= check_box_tag 'b', 'b', ((@contents[:do_q3] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>do_q4:</b>
<%= check_box_tag 'b', 'b', ((@contents[:do_q4] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>do_q5:</b>
<%= check_box_tag 'b', 'b', ((@contents[:do_q5] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>do_q6:</b>
<%= check_box_tag 'b', 'b', ((@contents[:do_q6] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>do_q7:</b>
<%= check_box_tag 'b', 'b', ((@contents[:do_q7] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_1_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_1_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_1_b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_1_b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_2_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_2_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_2_b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_2_b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_3_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_3_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_4_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_4_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_4_b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_4_b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_4_c:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_4_c] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_5_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_5_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_5_b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_5_b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_5_c:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_5_c] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_5_d:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_5_d] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_6_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_6_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_6_b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_6_b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_6_c:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_6_c] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_7_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_7_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_7_b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_7_b] rescue 0)=='0' ? false : 1), disabled:true %><br />
<% end %>
<% if @form.part == 'N' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>sample_type:</b>
<%= @contents[:sample_type] rescue '' %><br />
&nbsp;&nbsp;<b>sample_size:</b>
<%= @contents[:sample_size] rescue '' %><br />
&nbsp;&nbsp;<b>no_more_sample:</b>
<%= check_box_tag 'b', 'b', ((@contents[:no_more_sample] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>more_sample:</b>
<%= @contents[:more_sample] rescue '' %><br />
&nbsp;&nbsp;<b>no_disease_samples:</b>
<%= check_box_tag 'b', 'b', ((@contents[:no_disease_samples] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>how_many_samples:</b>
<%= @contents[:how_many_samples] rescue '' %><br />
&nbsp;&nbsp;<b>specimen_time:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>start_d:</b>
<%= @contents[:specimen_time][:start_d] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>end_d:</b>
<%= @contents[:specimen_time][:end_d] rescue '' %><br />
&nbsp;&nbsp;<b>sample_sources:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>bidmc_path:</b>
<%= check_box_tag 'b', 'b', ((@contents[:sample_sources][:bidmc_path] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>repository:</b>
<%= check_box_tag 'b', 'b', ((@contents[:sample_sources][:repository] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= @contents[:sample_sources][:other] rescue '' %><br />
&nbsp;&nbsp;<b>study_duration:</b>
<%= @contents[:study_duration] rescue '' %><br />
&nbsp;&nbsp;<b>no_identifiers:</b>
<%= check_box_tag 'b', 'b', ((@contents[:no_identifiers] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>identifiers:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>contact_pats:</b>
<%= check_box_tag 'b', 'b', ((@contents[:identifiers][:contact_pats] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>if_yes_exp:</b>
<%= @contents[:identifiers][:if_yes_exp] rescue '' %><br />
&nbsp;&nbsp;<b>human_discard:</b>
<%= @contents[:human_discard] rescue '' %><br />
&nbsp;&nbsp;<b>sample_profit:</b>
<%= check_box_tag 'b', 'b', ((@contents[:sample_profit] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>if_profit_exp:</b>
<%= @contents[:if_profit_exp] rescue '' %><br />
&nbsp;&nbsp;<b>data_use:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>publicc:</b>
<%= check_box_tag 'b', 'b', ((@contents[:data_use][:publicc] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>present:</b>
<%= check_box_tag 'b', 'b', ((@contents[:data_use][:present] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= @contents[:data_use][:other] rescue '' %><br />
&nbsp;&nbsp;<b>related_research:</b>
<%= check_box_tag 'b', 'b', ((@contents[:related_research] rescue 0)=='0' ? false : 1), disabled:true %><br />
<% end %>
<% if @form.part == 'O' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>name_pi:</b>
<%= @contents[:name_pi] rescue '' %><br />
&nbsp;&nbsp;<b>name_ci:</b>
<%= @contents[:name_ci] rescue '' %><br />
&nbsp;&nbsp;<b>mail_address:</b>
<%= @contents[:mail_address] rescue '' %><br />
&nbsp;&nbsp;<b>email_address:</b>
<%= @contents[:email_address] rescue '' %><br />
&nbsp;&nbsp;<b>pi_phoneNumber:</b>
<%= @contents[:pi_phoneNumber] rescue '' %><br />
&nbsp;&nbsp;<b>pi_pagerNumber:</b>
<%= @contents[:pi_pagerNumber] rescue '' %><br />
&nbsp;&nbsp;<b>pi_Fax:</b>
<%= @contents[:pi_Fax] rescue '' %><br />
&nbsp;&nbsp;<b>fund_Source:</b>
<%= @contents[:fund_Source] rescue '' %><br />
&nbsp;&nbsp;<b>MRI:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>patient_Info:</b>
<%= @contents[:MRI][:patient_Info] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>psych_records:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MRI][:psych_records] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>record_amount:</b>
<%= @contents[:MRI][:record_amount] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>timePeriod_F:</b>
<%= @contents[:MRI][:timePeriod_F] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>timePeriod_T:</b>
<%= @contents[:MRI][:timePeriod_T] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>sourceInfo:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MRI][:sourceInfo] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>studyTime:</b>
<%= @contents[:MRI][:studyTime] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>identifiers:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MRI][:identifiers] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>contactPatients:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MRI][:contactPatients] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>why_cP:</b>
<%= @contents[:MRI][:why_cP] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>confidentiality:</b>
<%= @contents[:MRI][:confidentiality] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>patient_IndInfo:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MRI][:patient_IndInfo] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>data_results:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MRI][:data_results] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>form_relate_N:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MRI][:form_relate_N] rescue 0)=='0' ? false : 1), disabled:true %><br />
<% end %>
<% if @form.part == 'P' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>minimal_risk:</b>
<%= check_box_tag 'b', 'b', ((@contents[:minimal_risk] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>signature:</b>
<%= @contents[:signature] rescue '' %><br />
&nbsp;&nbsp;<b>moderate_risk:</b>
<%= check_box_tag 'b', 'b', ((@contents[:moderate_risk] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>MDSP:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>monitoring:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MDSP][:monitoring] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>analysis:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MDSP][:analysis] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>additional:</b>
<%= @contents[:MDSP][:additional] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>signature:</b>
<%= @contents[:MDSP][:signature] rescue '' %><br />
&nbsp;&nbsp;<b>high:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>high_risk:</b>
<%= check_box_tag 'b', 'b', ((@contents[:high][:high_risk] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>DSMP_requirement:</b>
<%= @contents[:high][:DSMP_requirement] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>describe_DSMP:</b>
<%= @contents[:high][:describe_DSMP] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>signature:</b>
<%= @contents[:high][:signature] rescue '' %><br />
<% end %>
<% if @form.part == 'Q' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>information:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>name:</b>
<%= @contents[:information][:name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>institution:</b>
<%= @contents[:information][:institution] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>dept:</b>
<%= @contents[:information][:dept] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>division:</b>
<%= @contents[:information][:division] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>physician:</b>
<%= check_box_tag 'b', 'b', ((@contents[:information][:physician] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>co_investigator:</b>
<%= check_box_tag 'b', 'b', ((@contents[:information][:co_investigator] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>research_coordinator:</b>
<%= check_box_tag 'b', 'b', ((@contents[:information][:research_coordinator] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>non_staff:</b>
<%= check_box_tag 'b', 'b', ((@contents[:information][:non_staff] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>data_coordinator:</b>
<%= check_box_tag 'b', 'b', ((@contents[:information][:data_coordinator] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>research_nurse:</b>
<%= check_box_tag 'b', 'b', ((@contents[:information][:research_nurse] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= check_box_tag 'b', 'b', ((@contents[:information][:other] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>mailing_address:</b>
<%= @contents[:information][:mailing_address] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>e_mail:</b>
<%= @contents[:information][:e_mail] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>telephone:</b>
<%= @contents[:information][:telephone] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pager:</b>
<%= @contents[:information][:pager] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>fax:</b>
<%= @contents[:information][:fax] rescue '' %><br />
&nbsp;&nbsp;<b>certification:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>reviewed:</b>
<%= check_box_tag 'b', 'b', ((@contents[:certification][:reviewed] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>CITI:</b>
<%= check_box_tag 'b', 'b', ((@contents[:certification][:CITI] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>written_doc:</b>
<%= check_box_tag 'b', 'b', ((@contents[:certification][:written_doc] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>confidential:</b>
<%= check_box_tag 'b', 'b', ((@contents[:certification][:confidential] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>responsibility:</b>
<%= check_box_tag 'b', 'b', ((@contents[:certification][:responsibility] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>conflict_interest:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>paid:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:paid] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>if_yes:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>consulting:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:consulting] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>management:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:management] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:other] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>board_member:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:board_member] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>scientific_board:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:scientific_board] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>stock:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:stock] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>royalties:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:royalties] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>intellectual:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:intellectual] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>author:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:author] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>gifts:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:gifts] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>loans:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:loans] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>paid:</b>
<%= check_box_tag 'b', 'b', ((@contents[:paid] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>BIDMC_want:</b>
<%= check_box_tag 'b', 'b', ((@contents[:BIDMC_want] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>signature:</b>
<%= @contents[:signature] rescue '' %><br />
&nbsp;&nbsp;<b>date:</b>
<%= @contents[:date] rescue '' %><br />
<% end %>
<% if @form.part == 'W' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>rsi:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_name:</b>
<%= @contents[:rsi][:pi_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_depart:</b>
<%= @contents[:rsi][:pi_depart] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>mail_address:</b>
<%= @contents[:rsi][:mail_address] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>email_address:</b>
<%= @contents[:rsi][:email_address] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_phone:</b>
<%= @contents[:rsi][:pi_phone] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_pager:</b>
<%= @contents[:rsi][:pi_pager] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_fax:</b>
<%= @contents[:rsi][:pi_fax] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>ci_info:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ci_name:</b>
<%= @contents[:rsi][:ci_info][:ci_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>dci:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>data_guy:</b>
<%= @contents[:rsi][:dci][:data_guy] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>mail_address:</b>
<%= @contents[:rsi][:dci][:mail_address] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>email_address:</b>
<%= @contents[:rsi][:dci][:email_address] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>dg_phonen:</b>
<%= @contents[:rsi][:dci][:dg_phonen] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>dg_pager:</b>
<%= @contents[:rsi][:dci][:dg_pager] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>dg_fax:</b>
<%= @contents[:rsi][:dci][:dg_fax] rescue '' %><br />
&nbsp;&nbsp;<b>woa_rationale:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>recruitment:</b>
<%= check_box_tag 'b', 'b', ((@contents[:woa_rationale][:recruitment] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>verbal_consent:</b>
<%= check_box_tag 'b', 'b', ((@contents[:woa_rationale][:verbal_consent] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>request_w:</b>
<%= check_box_tag 'b', 'b', ((@contents[:woa_rationale][:request_w] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= @contents[:woa_rationale][:other] rescue '' %><br />
&nbsp;&nbsp;<b>uophi:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>list_persons_name:</b>
<%= @contents[:uophi][:list_persons_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>persons_purpose:</b>
<%= @contents[:uophi][:persons_purpose] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>persons_ident:</b>
<%= check_box_tag 'b', 'b', ((@contents[:uophi][:persons_ident] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>geo_sub:</b>
<%= check_box_tag 'b', 'b', ((@contents[:uophi][:geo_sub] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>elements_date:</b>
<%= check_box_tag 'b', 'b', ((@contents[:uophi][:elements_date] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>ff_images:</b>
<%= check_box_tag 'b', 'b', ((@contents[:uophi][:ff_images] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>unique_ident:</b>
<%= check_box_tag 'b', 'b', ((@contents[:uophi][:unique_ident] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>unique_ident_e:</b>
<%= @contents[:uophi][:unique_ident_e] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>study_access:</b>
<%= @contents[:uophi][:study_access] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>noaccess_phi:</b>
<%= check_box_tag 'b', 'b', ((@contents[:uophi][:noaccess_phi] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>noaccess_phi_e:</b>
<%= @contents[:uophi][:noaccess_phi_e] rescue '' %><br />
&nbsp;&nbsp;<b>dphi:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>list_persons_name:</b>
<%= @contents[:dphi][:list_persons_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>persons_purpose:</b>
<%= @contents[:dphi][:persons_purpose] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>persons_ident:</b>
<%= check_box_tag 'b', 'b', ((@contents[:dphi][:persons_ident] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>geo_sub:</b>
<%= check_box_tag 'b', 'b', ((@contents[:dphi][:geo_sub] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>elements_date:</b>
<%= check_box_tag 'b', 'b', ((@contents[:dphi][:elements_date] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>ff_images:</b>
<%= check_box_tag 'b', 'b', ((@contents[:dphi][:ff_images] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>unique_ident:</b>
<%= check_box_tag 'b', 'b', ((@contents[:dphi][:unique_ident] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>unique_ident_e:</b>
<%= @contents[:dphi][:unique_ident_e] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>info_disclosed:</b>
<%= @contents[:dphi][:info_disclosed] rescue '' %><br />
&nbsp;&nbsp;<b>pdphi:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>protect_phi:</b>
<%= @contents[:pdphi][:protect_phi] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>destroy_phi:</b>
<%= @contents[:pdphi][:destroy_phi] rescue '' %><br />
&nbsp;&nbsp;<b>pis:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>certify_phi:</b>
<%= check_box_tag 'b', 'b', ((@contents[:pis][:certify_phi] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_sig:</b>
<%= @contents[:pis][:pi_sig] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_date:</b>
<%= @contents[:pis][:pi_date] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_printname:</b>
<%= @contents[:pis][:pi_printname] rescue '' %><br />
<% end %>
<% if @form.part == 'S' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>full_board:</b>
<%= check_box_tag 'b', 'b', ((@contents[:full_board] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>expedited_review:</b>
<%= check_box_tag 'b', 'b', ((@contents[:expedited_review] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>exempt_review:</b>
<%= check_box_tag 'b', 'b', ((@contents[:exempt_review] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>title:</b>
<%= @contents[:title] rescue '' %><br />
&nbsp;&nbsp;<b>pi:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi:</b>
<%= @contents[:pi][:pi] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>department:</b>
<%= @contents[:pi][:department] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>division:</b>
<%= @contents[:pi][:division] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>expertise:</b>
<%= check_box_tag 'b', 'b', ((@contents[:pi][:expertise] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>suggestions:</b>
<%= @contents[:pi][:suggestions] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>additional:</b>
<%= check_box_tag 'b', 'b', ((@contents[:pi][:additional] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>materials:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>CCI_application:</b>
<%= check_box_tag 'b', 'b', ((@contents[:materials][:CCI_application] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>sponsor:</b>
<%= check_box_tag 'b', 'b', ((@contents[:materials][:sponsor] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>brochure:</b>
<%= check_box_tag 'b', 'b', ((@contents[:materials][:brochure] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>grant:</b>
<%= check_box_tag 'b', 'b', ((@contents[:materials][:grant] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>informed:</b>
<%= check_box_tag 'b', 'b', ((@contents[:materials][:informed] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= check_box_tag 'b', 'b', ((@contents[:materials][:other] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>specify:</b>
<%= @contents[:materials][:specify] rescue '' %><br />
&nbsp;&nbsp;<b>merit:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>adequate:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:adequate] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>risk:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:risk] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>risk_reduced:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:risk_reduced] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>risks_described:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:risks_described] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>study_design:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:study_design] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>sample_size:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:sample_size] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>outcome_measure:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:outcome_measure] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>statistical_plan:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:statistical_plan] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pre_clinical:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:pre_clinical] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>human_subjects:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:human_subjects] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>meet_goals:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:meet_goals] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>comments:</b>
<%= @contents[:merit][:comments] rescue '' %><br />
&nbsp;&nbsp;<b>D_SMP:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>determined_risk:</b>
<%= check_box_tag 'b', 'b', ((@contents[:D_SMP][:determined_risk] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>no_whatisrisk:</b>
<%= @contents[:D_SMP][:no_whatisrisk] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>plan_appropriate:</b>
<%= check_box_tag 'b', 'b', ((@contents[:D_SMP][:plan_appropriate] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>suggestions:</b>
<%= @contents[:D_SMP][:suggestions] rescue '' %><br />
&nbsp;&nbsp;<b>revisions:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>can_submit:</b>
<%= check_box_tag 'b', 'b', ((@contents[:revisions][:can_submit] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>requires_revisions:</b>
<%= check_box_tag 'b', 'b', ((@contents[:revisions][:requires_revisions] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>date:</b>
<%= @contents[:revisions][:date] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>reviewed:</b>
<%= check_box_tag 'b', 'b', ((@contents[:revisions][:reviewed] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>print_name:</b>
<%= @contents[:print_name] rescue '' %><br />
&nbsp;&nbsp;<b>date:</b>
<%= @contents[:date] rescue '' %><br />
&nbsp;&nbsp;<b>signature:</b>
<%= @contents[:signature] rescue '' %><br />
<% end %>
<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', :back %>
