<% @contents = @form.hash_content %>
<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', @cta %>
<% if @form.part == 'A' %>
  <p id='notice'><%= notice %></p>
<h2>PART A<br>
      RESEARCH APPLICATION – BASIC INFORMATION</h2>
    <div class=field>This application is being submitted for: <br />
      <%= check_box_tag :full_board, '', (@contents[:full_board]=='1' rescue false) %>
      Full Board Review
      <%= check_box_tag :expedited, '', (@contents[:expedited]=='1' rescue false) %>
      Expedited Review
    </div>
    <div class=form_header>A1. TITLE OF PROPOSAL</div><br />
    <table class=form_cont><tr><td>
        <div class=field>Title of Proposal<br />
          <%= @contents[:A1][:title] rescue nil %>
        </div>
        <div class=field>short_title (50 characters - must contain keywords for identifying protocol)<br />
          <%= @contents[:A1][:short_title] rescue nil %>
        </div>
    </td></tr></table>
    <div class=form_header>A2. RESEARCH STAFF INFORMATION</div><br />
    <table class=form_cont><tr><td>
        <div class=field>Primary Investigator (PI)<br />
          <%= User.find(@contents[:A2][:pi_id]).full_name rescue nil%>
        </div>
        
        <div class=field>Main Contact<br />
          <%= User.find(@contents[:A2][:main_contact_id]).full_name rescue nil%>
        </div>
    </td></tr></table>
    <div class=form_header>A3. BASIC STUDY TYPE AND DESIGN INFORMATION</div><br />
    <div class=field>
        <table class=form_cont>
          <tr>
            <td>
            <table>
            <td>Study Type:<br> (check all that apply)</td>
            <td>
              <table>
                <tr>
                  <td><%= check_box_tag :a, '', (@contents[:A3][:type][:a]=='1' rescue false) %>Therapeutic</td>
                  <td><%= check_box_tag :e, '', (@contents[:A3][:type][:e]=='1' rescue false) %>Diagnostic</td>
                  <td><%= check_box_tag :i, '', (@contents[:A3][:type][:i]=='1' rescue false) %>Epidemiologic</td>
                  <td><%= check_box_tag :m, '', (@contents[:A3][:type][:m]=='1' rescue false) %>Physiologic</td>
                </tr>
                <tr>
                  <td><%= check_box_tag :b, '', (@contents[:A3][:type][:b]=='1' rescue false) %>Pilot</td>
                  <td><%= check_box_tag :f, '', (@contents[:A3][:type][:f]=='1' rescue false) %>Survey</td>
                  <td><%= check_box_tag :j, '', (@contents[:A3][:type][:j]=='1' rescue false) %>Registry</td>
                  <td><%= check_box_tag :n, '', (@contents[:A3][:type][:n]=='1' rescue false) %>Medical Record Review</td>
                </tr>
                <tr>
                  <td><%= check_box_tag :c, '', (@contents[:A3][:type][:c]=='1' rescue false) %>Discarded Tissue</td>
                  <td><%= check_box_tag :g, '', (@contents[:A3][:type][:g]=='1' rescue false) %>Genetic Research</td>
                  <td><%= check_box_tag :k, '', (@contents[:A3][:type][:k]=='1' rescue false) %>Gene Transfer</td>
                  <td><%= check_box_tag :o, '', (@contents[:A3][:type][:o]=='1' rescue false) %>Educational Research</td>
                </tr>
                <tr>
                  <td><%= check_box_tag :d, '', (@contents[:A3][:type][:d]=='1' rescue false) %>Creating a Data/<br>Tissue Repository</td>
                  <td><%= check_box_tag :h, '', (@contents[:A3][:type][:h]=='1' rescue false) %>Program<br>Evaluation</td>
                  <td><%= check_box_tag :l, '', (@contents[:A3][:type][:l]=='1' rescue false) %>Focus Groups</td>
                  <td><%= check_box_tag :p, '', (@contents[:A3][:type][:p]=='1' rescue false) %>Other (explain):<%= @contents[:A3][:type][:p_e] rescue nil%></td>
                </tr>
              </table>
            </table>
          </td>
          </tr>
          <tr>
            <td>
                    Design (if Applicable): 
                    <%= check_box_tag :a, '', (@contents[:A3][:design][:a]=='1' rescue false) %>Randomized
                    <%= check_box_tag :b, '', (@contents[:A3][:design][:b]=='1' rescue false) %>Blind
                    <%= check_box_tag :c, '', (@contents[:A3][:design][:c]=='1' rescue false) %>Double-Blind
                  </td>
                </tr>
                <tr>
                  <td>
                    Phase (if applicable):
                    <%= check_box_tag :i, '', (@contents[:A3][:phase][:i]=='1' rescue false) %>I
                    <%= check_box_tag :i_ii, '', (@contents[:A3][:phase][:i_ii]=='1' rescue false) %>I/II
                    <%= check_box_tag :ii, '', (@contents[:A3][:phase][:ii]=='1' rescue false) %>II
                    <%= check_box_tag :ii_iii, '', (@contents[:A3][:phase][:ii_iii]=='1' rescue false) %>II/III
                    <%= check_box_tag :iii, '', (@contents[:A3][:phase][:iii]=='1' rescue false) %>III
                    <%= check_box_tag :iiii, '', (@contents[:A3][:phase][:iiii]=='1' rescue false) %>IV
                    <%= check_box_tag :other, '', (@contents[:A3][:phase][:other]=='1' rescue false) %>Other (explain):
                    <%= @contents[:A3][:phase][:other_e] rescue nil %>
                  </td>
                </tr>
                <tr>
                  <td>
                    Placebo Control (if applicable): 
                    <%= check_box_tag :placebo_yes, '', (@contents[:A3][:placebo_yes]=='1' rescue false) %>Yes
                    <%= check_box_tag :placebo_no, '', (@contents[:A3][:placebo_no]=='1' rescue false) %>No
                  </td>
                </tr>
            </td>
          </tr>
        </table>
        </div>
          
        </div>
    </div>
    
    <div class=form_header>A5. RESOURCES USED DURING STUDY</div><br />
    <div class=field>
      <table>
      Check all that apply<br />
      <table class=form_cont><tr><td>
          <%= check_box_tag :nurse, '', (@contents[:A5][:nurse]=='1' rescue false) %>Assistance from BIDMC nursing personnel<br />
          <%= check_box_tag :drugs, '', (@contents[:A5][:drugs]=='1' rescue false) %>Drugs<br />
          <%= check_box_tag :xray, '', (@contents[:A5][:xray]=='1' rescue false) %>X-Ray or Radioactive Agent<br />
          <%= check_box_tag :investigation, '', (@contents[:A5][:investigation]=='1' rescue false) %>Investigational Device<br />
          <%= check_box_tag :lab, '', (@contents[:A5][:lab]=='1' rescue false) %>Laboratory testing: in-house or outside provider<br />
          <%= check_box_tag :transfusion, '', (@contents[:A5][:transfusion]=='1' rescue false) %>Transfusion medicine products and services<br />
          <%= check_box_tag :radio, '', (@contents[:A5][:radio]=='1' rescue false) %>Radiological Resources, including clinical and/or research<br />
          <%= check_box_tag :clinical, '', (@contents[:A5][:clinical]=='1' rescue false) %>Clinical Research Center<br />
          <%= check_box_tag :infectious, '', (@contents[:A5][:infectious]=='1' rescue false) %>Infectious Agents<br />
          <%= check_box_tag :genetic, '', (@contents[:A5][:genetic]=='1' rescue false) %>Human Genetic Research<br />
          <%= check_box_tag :hazardous, '', (@contents[:A5][:hazardous]=='1' rescue false) %>Hazardous Biological Agents<br />
          <%= check_box_tag :expedited, '', (@contents[:A5][:expedited]=='1' rescue false) %>Expedited Review Assessment<br />
          <%= check_box_tag :records, '', (@contents[:A5][:records]=='1' rescue false) %>Medical Records<br />
          <%= check_box_tag :tissue, '', (@contents[:A5][:tissue]=='1' rescue false) %>Discarded Tissue<br />
          <%= check_box_tag :other, '', (@contents[:A5][:other]=='1' rescue false) %>Other
        </td></tr></table>
    </table>
    </div>
<% end %>
<% if @form.part == 'B' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>B1:</b>
<%= @contents[:B1] rescue '' %><br />
&nbsp;&nbsp;<b>B2:</b>
<%= @contents[:B2] rescue '' %><br />
&nbsp;&nbsp;<b>B3:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>A:</b>
<%= @contents[:B3][:A] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>B:</b>
<%= @contents[:B3][:B] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>C:</b>
<%= @contents[:B3][:C] rescue '' %><br />
&nbsp;&nbsp;<b>B4:</b>
<%= @contents[:B4] rescue '' %><br />
&nbsp;&nbsp;<b>B5:</b>
<%= @contents[:B5] rescue '' %><br />
&nbsp;&nbsp;<b>B6:</b>
<%= @contents[:B6] rescue '' %><br />
&nbsp;&nbsp;<b>B7:</b>
<%= @contents[:B7] rescue '' %><br />
&nbsp;&nbsp;<b>B8:</b>
<%= @contents[:B8] rescue '' %><br />
&nbsp;&nbsp;<b>B9:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>yes:</b>
<%= check_box_tag 'b', 'b', ((@contents[:B9][:yes] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>content:</b>
<%= @contents[:B9][:content] rescue '' %><br />
<% end %>
<% if @form.part == 'C' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>Nursing:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Nursing] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>Units_Signatures:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>InpatientUnits:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Content:</b>
<%= @contents[:Units_Signatures][:InpatientUnits][:Content] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Signature:</b>
<%= @contents[:Units_Signatures][:InpatientUnits][:Signature] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>OutpatientUnits:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Content:</b>
<%= @contents[:Units_Signatures][:OutpatientUnits][:Content] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Signature:</b>
<%= @contents[:Units_Signatures][:OutpatientUnits][:Signature] rescue '' %><br />
<% end %>
<% if @form.part == 'E' %>
  <p id='notice'><%= notice %></p>
<%= link_to 'Send to Departmental Representative', controller: 'forms', action: 'send_to_rep', id: @form.id %><br />
&nbsp;&nbsp;<b>E1:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>Investigational:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E1][:Investigational] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>ind_num:</b>
<%= @contents[:E1][:ind_num] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>Fda_restrict:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E1][:Fda_restrict] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>Fda_restrict_explanation:</b>
<%= @contents[:E1][:Fda_restrict_explanation] rescue '' %><br />
&nbsp;&nbsp;<b>Approval_status:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>marketed:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Approval_status][:marketed] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>fda_approved:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Approval_status][:fda_approved] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>marketed_not_fda:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MNF1:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Approval_status][:marketed_not_fda][:MNF1] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MNF2:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Approval_status][:marketed_not_fda][:MNF2] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MNF3:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Approval_status][:marketed_not_fda][:MNF3] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MNF4:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Approval_status][:marketed_not_fda][:MNF4] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MNF5:</b>
<%= check_box_tag 'b', 'b', ((@contents[:Approval_status][:marketed_not_fda][:MNF5] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>fda_not_marketed:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>FNM_ind:</b>
<%= @contents[:Approval_status][:fda_not_marketed][:FNM_ind] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>FNM_assigned:</b>
<%= @contents[:Approval_status][:fda_not_marketed][:FNM_assigned] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>FNM_CITI:</b>
<%= @contents[:Approval_status][:fda_not_marketed][:FNM_CITI] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>authorized:</b>
<%= @contents[:Approval_status][:authorized] rescue '' %><br />
&nbsp;&nbsp;<b>E2:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>generic_name:</b>
<%= @contents[:E2][:generic_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>trade_name:</b>
<%= @contents[:E2][:trade_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>manufacturer:</b>
<%= @contents[:E2][:manufacturer] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>primary_actions:</b>
<%= @contents[:E2][:primary_actions] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>how_specified:</b>
<%= @contents[:E2][:how_specified] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>route_of_admin:</b>
<%= @contents[:E2][:route_of_admin] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>carriers_preservatives:</b>
<%= @contents[:E2][:carriers_preservatives] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>special_handling:</b>
<%= @contents[:E2][:special_handling] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>therapeutic_use:</b>
<%= @contents[:E2][:therapeutic_use] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>dose:</b>
<%= @contents[:E2][:dose] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>side_effects:</b>
<%= @contents[:E2][:side_effects] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>antidotes:</b>
<%= @contents[:E2][:antidotes] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>appended_material:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>brochure:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E2][:appended_material][:brochure] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>pharmacology:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E2][:appended_material][:pharmacology] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>toxicology:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E2][:appended_material][:toxicology] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>experience:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E2][:appended_material][:experience] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>protocol:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E2][:appended_material][:protocol] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>E3:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>sponser_provides:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E3][:sponser_provides] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>charged_pi:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E3][:charged_pi] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>charged_patient:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E3][:charged_patient] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>E4:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>dispensed_pharmacy:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E4][:dispensed_pharmacy] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>where_dispensed:</b>
<%= @contents[:E4][:where_dispensed] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>investigator_supply:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E4][:investigator_supply] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>prescribers:</b>
<%= @contents[:E4][:prescribers] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>east_campus:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E4][:east_campus] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>west_campus:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E4][:west_campus] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>authorized_to_adminitrate:</b>
<%= @contents[:E4][:authorized_to_adminitrate] rescue '' %><br />
&nbsp;&nbsp;<b>E5:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>room_temp:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E5][:room_temp] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>refrigeration:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E5][:refrigeration] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>freezer_warm:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E5][:freezer_warm] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>freezer_cold:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E5][:freezer_cold] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= @contents[:E5][:other] rescue '' %><br />
&nbsp;&nbsp;<b>E6:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>special_equipment:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E6][:special_equipment] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>equipment_list:</b>
<%= @contents[:E6][:equipment_list] rescue '' %><br />
&nbsp;&nbsp;<b>E7:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>oral:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E7][:oral] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>topical:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E7][:topical] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>chemo:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E7][:chemo] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>non_chemo:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E7][:non_chemo] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>live_biologic:</b>
<%= check_box_tag 'b', 'b', ((@contents[:E7][:live_biologic] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= @contents[:E7][:other] rescue '' %><br />
&nbsp;&nbsp;<b>E8:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>received_for_review:</b>
<%= @contents[:E8][:received_for_review] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>date_approved:</b>
<%= @contents[:E8][:date_approved] rescue '' %><br />
<% end %>
<% if @form.part == 'F' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>F1:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>diagnostic_xray:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F1][:diagnostic_xray] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>diagnostic_radioactive:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F1][:diagnostic_radioactive] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>therapeutic_radiation:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F1][:therapeutic_radiation] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>therapeutic_radioactive:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F1][:therapeutic_radioactive] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>F2:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>xray_exposure:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F2][:xray_exposure] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>nuclear_medicine:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F2][:nuclear_medicine] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>radioisotope:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F2][:radioisotope] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>physician_name:</b>
<%= @contents[:F2][:physician_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>isotope:</b>
<%= @contents[:F2][:isotope] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>chemical_form:</b>
<%= @contents[:F2][:chemical_form] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>dose:</b>
<%= @contents[:F2][:dose] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>mode:</b>
<%= @contents[:F2][:mode] rescue '' %><br />
&nbsp;&nbsp;<b>F3:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>received:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F3][:received] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>approved:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F3][:approved] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>approval_date:</b>
<%= @contents[:F3][:approval_date] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>not_need_review:</b>
<%= check_box_tag 'b', 'b', ((@contents[:F3][:not_need_review] rescue 0)=='0' ? false : 1), disabled:true %><br />
<% end %>
<% if @form.part == 'G' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>G1:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>authorized_users:</b>
<%= @contents[:G1][:authorized_users] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>device_name_full:</b>
<%= @contents[:G1][:device_name_full] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>device_manfufacturer:</b>
<%= @contents[:G1][:device_manfufacturer] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>sponsor:</b>
<%= @contents[:G1][:sponsor] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>device_type:</b>
<%= @contents[:G1][:device_type] rescue '' %><br />
&nbsp;&nbsp;<b>G2:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>marketed_aproved:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:marketed_aproved] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>marketed_not_approved:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:marketed_not_approved] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>not_marketed_not_FDA:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:not_marketed_not_FDA] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>exempt:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>legally_marketed:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:exempt][:legally_marketed] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>label_complies:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:exempt][:label_complies] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>preference_testing:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:exempt][:preference_testing] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>early_distrobution:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:exempt][:early_distrobution] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>substantially_equivilent:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:exempt][:substantially_equivilent] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>custom_device:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:exempt][:custom_device] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>no_risk_device:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>explanation:</b>
<%= @contents[:G2][:no_risk_device][:explanation] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>no_banned:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:no_risk_device][:no_banned] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>cfr:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:no_risk_device][:cfr] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>IRB_approval:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:no_risk_device][:IRB_approval] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>informed_consent:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:no_risk_device][:informed_consent] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>monitoring_investigations:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:no_risk_device][:monitoring_investigations] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>records:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:no_risk_device][:records] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>no_promotion:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:no_risk_device][:no_promotion] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>high_risk:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>cat_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:high_risk][:cat_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>cat_b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:high_risk][:cat_b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>IDE_num:</b>
<%= @contents[:G2][:high_risk][:IDE_num] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>company:</b>
<%= @contents[:G2][:high_risk][:company] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>CITI_GCP:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>yes:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:high_risk][:CITI_GCP][:yes] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>no:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:high_risk][:CITI_GCP][:no] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>NA:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:high_risk][:CITI_GCP][:NA] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>interval:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:high_risk][:interval] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>restrictions:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G2][:high_risk][:restrictions] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>explain_yes:</b>
<%= @contents[:G2][:high_risk][:explain_yes] rescue '' %><br />
&nbsp;&nbsp;<b>G3:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>CDE_safe:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>yes:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G3][:CDE_safe][:yes] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>no:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G3][:CDE_safe][:no] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>NA:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G3][:CDE_safe][:NA] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>G4:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>location:</b>
<%= @contents[:G4][:location] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>dispensing:</b>
<%= @contents[:G4][:dispensing] rescue '' %><br />
&nbsp;&nbsp;<b>G5:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>cost:</b>
<%= @contents[:G5][:cost] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>who_paying:</b>
<%= @contents[:G5][:who_paying] rescue '' %><br />
&nbsp;&nbsp;<b>G6:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>IDE_attachment:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G6][:IDE_attachment] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>no_risk_attachment:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G6][:no_risk_attachment] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>device_brochure:</b>
<%= check_box_tag 'b', 'b', ((@contents[:G6][:device_brochure] rescue 0)=='0' ? false : 1), disabled:true %><br />
<% end %>
<% if @form.part == 'J' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>J1:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>infectious_agent:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J1][:infectious_agent] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>xenotransplantation:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J1][:xenotransplantation] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>non_human_materials:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J1][:non_human_materials] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>J2:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>approved:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>yes_when:</b>
<%= @contents[:J2][:approved][:yes_when] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>non_aproved:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>agent_name:</b>
<%= @contents[:J2][:non_aproved][:agent_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>airbourne:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:airbourne] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>enteric:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:enteric] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>percutaneous:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:percutaneous] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>skin:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:skin] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>BIDMC_pharmacy:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:BIDMC_pharmacy] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>pharm_company:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:pharm_company] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= @contents[:J2][:non_aproved][:other] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>transport_vehicle:</b>
<%= @contents[:J2][:non_aproved][:transport_vehicle] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>injection:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:injection] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>topical:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:topical] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>intravenous:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:intravenous] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ingestion:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:ingestion] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>impatient:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:impatient] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>outpatient:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:outpatient] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>disposal:</b>
<%= @contents[:J2][:non_aproved][:disposal] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>agent_subcept:</b>
<%= @contents[:J2][:non_aproved][:agent_subcept] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>no_percautions:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:no_percautions] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>standard:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:standard] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>contact:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:contact] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>respiratory:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J2][:non_aproved][:respiratory] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>J3:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>under_review:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J3][:under_review] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>approved:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J3][:approved] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>no_review:</b>
<%= check_box_tag 'b', 'b', ((@contents[:J3][:no_review] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>comments:</b>
<%= @contents[:comments] rescue '' %><br />
<% end %>
<% if @form.part == 'K' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>K1:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pop_based:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:pop_based] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>bio_sample:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:bio_sample] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pedigree:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:pedigree] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pharmaco:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:pharmaco] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= @contents[:K1][:other] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>dna:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:dna] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>tissue:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:tissue] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>protein:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:protein] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>rna:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:rna] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>cell_lines:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:cell_lines] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>store_length:</b>
<%= @contents[:K1][:store_length] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>somatic_therapy:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:somatic_therapy] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>minor_or_pregnant:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K1][:minor_or_pregnant] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>K2:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>location_bidmc:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K2][:location_bidmc] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>K3:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>research_diclose:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>patient:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K3][:research_diclose][:patient] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>primary:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K3][:research_diclose][:primary] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>relatives:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K3][:research_diclose][:relatives] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>third_party:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K3][:third_party] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>commerce:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K3][:commerce] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>commerce_sample:</b>
<%= check_box_tag 'b', 'b', ((@contents[:K3][:commerce_sample] rescue 0)=='0' ? false : 1), disabled:true %><br />
<% end %>
<% if @form.part == 'L' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>L1:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>hazardous_agents:</b>
<%= @contents[:L1][:hazardous_agents] rescue '' %><br />
&nbsp;&nbsp;<b>L2:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>coms_approved:</b>
<%= check_box_tag 'b', 'b', ((@contents[:L2][:coms_approved] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>no_coms_submitted:</b>
<%= check_box_tag 'b', 'b', ((@contents[:L2][:no_coms_submitted] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>coms_submitted:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>date:</b>
<%= @contents[:L2][:coms_submitted][:date] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>num_pend:</b>
<%= @contents[:L2][:coms_submitted][:num_pend] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>comments:</b>
<%= @contents[:L2][:comments] rescue '' %><br />
<% end %>
<% if @form.part == 'M' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>do_q1:</b>
<%= check_box_tag 'b', 'b', ((@contents[:do_q1] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>do_q2:</b>
<%= check_box_tag 'b', 'b', ((@contents[:do_q2] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>do_q3:</b>
<%= check_box_tag 'b', 'b', ((@contents[:do_q3] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>do_q4:</b>
<%= check_box_tag 'b', 'b', ((@contents[:do_q4] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>do_q5:</b>
<%= check_box_tag 'b', 'b', ((@contents[:do_q5] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>do_q6:</b>
<%= check_box_tag 'b', 'b', ((@contents[:do_q6] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>do_q7:</b>
<%= check_box_tag 'b', 'b', ((@contents[:do_q7] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_1_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_1_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_1_b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_1_b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_2_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_2_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_2_b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_2_b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_3_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_3_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_4_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_4_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_4_b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_4_b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_4_c:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_4_c] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_5_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_5_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_5_b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_5_b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_5_c:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_5_c] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_5_d:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_5_d] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_6_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_6_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_6_b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_6_b] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_6_c:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_6_c] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_7_a:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_7_a] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>q_7_b:</b>
<%= check_box_tag 'b', 'b', ((@contents[:q_7_b] rescue 0)=='0' ? false : 1), disabled:true %><br />
<% end %>
<% if @form.part == 'N' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>sample_type:</b>
<%= @contents[:sample_type] rescue '' %><br />
&nbsp;&nbsp;<b>sample_size:</b>
<%= @contents[:sample_size] rescue '' %><br />
&nbsp;&nbsp;<b>no_more_sample:</b>
<%= check_box_tag 'b', 'b', ((@contents[:no_more_sample] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>more_sample:</b>
<%= @contents[:more_sample] rescue '' %><br />
&nbsp;&nbsp;<b>no_disease_samples:</b>
<%= check_box_tag 'b', 'b', ((@contents[:no_disease_samples] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>how_many_samples:</b>
<%= @contents[:how_many_samples] rescue '' %><br />
&nbsp;&nbsp;<b>specimen_time:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>start_d:</b>
<%= @contents[:specimen_time][:start_d] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>end_d:</b>
<%= @contents[:specimen_time][:end_d] rescue '' %><br />
&nbsp;&nbsp;<b>sample_sources:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>bidmc_path:</b>
<%= check_box_tag 'b', 'b', ((@contents[:sample_sources][:bidmc_path] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>repository:</b>
<%= check_box_tag 'b', 'b', ((@contents[:sample_sources][:repository] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= @contents[:sample_sources][:other] rescue '' %><br />
&nbsp;&nbsp;<b>study_duration:</b>
<%= @contents[:study_duration] rescue '' %><br />
&nbsp;&nbsp;<b>no_identifiers:</b>
<%= check_box_tag 'b', 'b', ((@contents[:no_identifiers] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>identifiers:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>contact_pats:</b>
<%= check_box_tag 'b', 'b', ((@contents[:identifiers][:contact_pats] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>if_yes_exp:</b>
<%= @contents[:identifiers][:if_yes_exp] rescue '' %><br />
&nbsp;&nbsp;<b>human_discard:</b>
<%= @contents[:human_discard] rescue '' %><br />
&nbsp;&nbsp;<b>sample_profit:</b>
<%= check_box_tag 'b', 'b', ((@contents[:sample_profit] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>if_profit_exp:</b>
<%= @contents[:if_profit_exp] rescue '' %><br />
&nbsp;&nbsp;<b>data_use:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>publicc:</b>
<%= check_box_tag 'b', 'b', ((@contents[:data_use][:publicc] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>present:</b>
<%= check_box_tag 'b', 'b', ((@contents[:data_use][:present] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= @contents[:data_use][:other] rescue '' %><br />
&nbsp;&nbsp;<b>related_research:</b>
<%= check_box_tag 'b', 'b', ((@contents[:related_research] rescue 0)=='0' ? false : 1), disabled:true %><br />
<% end %>
<% if @form.part == 'O' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>name_pi:</b>
<%= @contents[:name_pi] rescue '' %><br />
&nbsp;&nbsp;<b>name_ci:</b>
<%= @contents[:name_ci] rescue '' %><br />
&nbsp;&nbsp;<b>mail_address:</b>
<%= @contents[:mail_address] rescue '' %><br />
&nbsp;&nbsp;<b>email_address:</b>
<%= @contents[:email_address] rescue '' %><br />
&nbsp;&nbsp;<b>pi_phoneNumber:</b>
<%= @contents[:pi_phoneNumber] rescue '' %><br />
&nbsp;&nbsp;<b>pi_pagerNumber:</b>
<%= @contents[:pi_pagerNumber] rescue '' %><br />
&nbsp;&nbsp;<b>pi_Fax:</b>
<%= @contents[:pi_Fax] rescue '' %><br />
&nbsp;&nbsp;<b>fund_Source:</b>
<%= @contents[:fund_Source] rescue '' %><br />
&nbsp;&nbsp;<b>MRI:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>patient_Info:</b>
<%= @contents[:MRI][:patient_Info] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>psych_records:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MRI][:psych_records] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>record_amount:</b>
<%= @contents[:MRI][:record_amount] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>timePeriod_F:</b>
<%= @contents[:MRI][:timePeriod_F] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>timePeriod_T:</b>
<%= @contents[:MRI][:timePeriod_T] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>sourceInfo:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MRI][:sourceInfo] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>studyTime:</b>
<%= @contents[:MRI][:studyTime] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>identifiers:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MRI][:identifiers] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>contactPatients:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MRI][:contactPatients] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>why_cP:</b>
<%= @contents[:MRI][:why_cP] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>confidentiality:</b>
<%= @contents[:MRI][:confidentiality] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>patient_IndInfo:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MRI][:patient_IndInfo] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>data_results:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MRI][:data_results] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>form_relate_N:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MRI][:form_relate_N] rescue 0)=='0' ? false : 1), disabled:true %><br />
<% end %>
<% if @form.part == 'P' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>minimal_risk:</b>
<%= check_box_tag 'b', 'b', ((@contents[:minimal_risk] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>signature:</b>
<%= @contents[:signature] rescue '' %><br />
&nbsp;&nbsp;<b>moderate_risk:</b>
<%= check_box_tag 'b', 'b', ((@contents[:moderate_risk] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>MDSP:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>monitoring:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MDSP][:monitoring] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>analysis:</b>
<%= check_box_tag 'b', 'b', ((@contents[:MDSP][:analysis] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>additional:</b>
<%= @contents[:MDSP][:additional] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>signature:</b>
<%= @contents[:MDSP][:signature] rescue '' %><br />
&nbsp;&nbsp;<b>high:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>high_risk:</b>
<%= check_box_tag 'b', 'b', ((@contents[:high][:high_risk] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>DSMP_requirement:</b>
<%= @contents[:high][:DSMP_requirement] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>describe_DSMP:</b>
<%= @contents[:high][:describe_DSMP] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>signature:</b>
<%= @contents[:high][:signature] rescue '' %><br />
<% end %>
<% if @form.part == 'Q' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>information:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>name:</b>
<%= @contents[:information][:name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>institution:</b>
<%= @contents[:information][:institution] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>dept:</b>
<%= @contents[:information][:dept] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>division:</b>
<%= @contents[:information][:division] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>physician:</b>
<%= check_box_tag 'b', 'b', ((@contents[:information][:physician] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>co_investigator:</b>
<%= check_box_tag 'b', 'b', ((@contents[:information][:co_investigator] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>research_coordinator:</b>
<%= check_box_tag 'b', 'b', ((@contents[:information][:research_coordinator] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>non_staff:</b>
<%= check_box_tag 'b', 'b', ((@contents[:information][:non_staff] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>data_coordinator:</b>
<%= check_box_tag 'b', 'b', ((@contents[:information][:data_coordinator] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>research_nurse:</b>
<%= check_box_tag 'b', 'b', ((@contents[:information][:research_nurse] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= check_box_tag 'b', 'b', ((@contents[:information][:other] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>mailing_address:</b>
<%= @contents[:information][:mailing_address] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>e_mail:</b>
<%= @contents[:information][:e_mail] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>telephone:</b>
<%= @contents[:information][:telephone] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pager:</b>
<%= @contents[:information][:pager] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>fax:</b>
<%= @contents[:information][:fax] rescue '' %><br />
&nbsp;&nbsp;<b>certification:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>reviewed:</b>
<%= check_box_tag 'b', 'b', ((@contents[:certification][:reviewed] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>CITI:</b>
<%= check_box_tag 'b', 'b', ((@contents[:certification][:CITI] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>written_doc:</b>
<%= check_box_tag 'b', 'b', ((@contents[:certification][:written_doc] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>confidential:</b>
<%= check_box_tag 'b', 'b', ((@contents[:certification][:confidential] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>responsibility:</b>
<%= check_box_tag 'b', 'b', ((@contents[:certification][:responsibility] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>conflict_interest:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>paid:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:paid] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>if_yes:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>consulting:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:consulting] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>management:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:management] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:other] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>board_member:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:board_member] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>scientific_board:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:scientific_board] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>stock:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:stock] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>royalties:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:royalties] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>intellectual:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:intellectual] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>author:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:author] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>gifts:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:gifts] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>loans:</b>
<%= check_box_tag 'b', 'b', ((@contents[:conflict_interest][:if_yes][:loans] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>paid:</b>
<%= check_box_tag 'b', 'b', ((@contents[:paid] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>BIDMC_want:</b>
<%= check_box_tag 'b', 'b', ((@contents[:BIDMC_want] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>signature:</b>
<%= @contents[:signature] rescue '' %><br />
&nbsp;&nbsp;<b>date:</b>
<%= @contents[:date] rescue '' %><br />
<% end %>
<% if @form.part == 'W' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>rsi:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_name:</b>
<%= @contents[:rsi][:pi_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_depart:</b>
<%= @contents[:rsi][:pi_depart] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>mail_address:</b>
<%= @contents[:rsi][:mail_address] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>email_address:</b>
<%= @contents[:rsi][:email_address] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_phone:</b>
<%= @contents[:rsi][:pi_phone] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_pager:</b>
<%= @contents[:rsi][:pi_pager] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_fax:</b>
<%= @contents[:rsi][:pi_fax] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>ci_info:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ci_name:</b>
<%= @contents[:rsi][:ci_info][:ci_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>dci:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>data_guy:</b>
<%= @contents[:rsi][:dci][:data_guy] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>mail_address:</b>
<%= @contents[:rsi][:dci][:mail_address] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>email_address:</b>
<%= @contents[:rsi][:dci][:email_address] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>dg_phonen:</b>
<%= @contents[:rsi][:dci][:dg_phonen] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>dg_pager:</b>
<%= @contents[:rsi][:dci][:dg_pager] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>dg_fax:</b>
<%= @contents[:rsi][:dci][:dg_fax] rescue '' %><br />
&nbsp;&nbsp;<b>woa_rationale:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>recruitment:</b>
<%= check_box_tag 'b', 'b', ((@contents[:woa_rationale][:recruitment] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>verbal_consent:</b>
<%= check_box_tag 'b', 'b', ((@contents[:woa_rationale][:verbal_consent] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>request_w:</b>
<%= check_box_tag 'b', 'b', ((@contents[:woa_rationale][:request_w] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= @contents[:woa_rationale][:other] rescue '' %><br />
&nbsp;&nbsp;<b>uophi:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>list_persons_name:</b>
<%= @contents[:uophi][:list_persons_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>persons_purpose:</b>
<%= @contents[:uophi][:persons_purpose] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>persons_ident:</b>
<%= check_box_tag 'b', 'b', ((@contents[:uophi][:persons_ident] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>geo_sub:</b>
<%= check_box_tag 'b', 'b', ((@contents[:uophi][:geo_sub] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>elements_date:</b>
<%= check_box_tag 'b', 'b', ((@contents[:uophi][:elements_date] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>ff_images:</b>
<%= check_box_tag 'b', 'b', ((@contents[:uophi][:ff_images] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>unique_ident:</b>
<%= check_box_tag 'b', 'b', ((@contents[:uophi][:unique_ident] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>unique_ident_e:</b>
<%= @contents[:uophi][:unique_ident_e] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>study_access:</b>
<%= @contents[:uophi][:study_access] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>noaccess_phi:</b>
<%= check_box_tag 'b', 'b', ((@contents[:uophi][:noaccess_phi] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>noaccess_phi_e:</b>
<%= @contents[:uophi][:noaccess_phi_e] rescue '' %><br />
&nbsp;&nbsp;<b>dphi:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>list_persons_name:</b>
<%= @contents[:dphi][:list_persons_name] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>persons_purpose:</b>
<%= @contents[:dphi][:persons_purpose] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>persons_ident:</b>
<%= check_box_tag 'b', 'b', ((@contents[:dphi][:persons_ident] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>geo_sub:</b>
<%= check_box_tag 'b', 'b', ((@contents[:dphi][:geo_sub] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>elements_date:</b>
<%= check_box_tag 'b', 'b', ((@contents[:dphi][:elements_date] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>ff_images:</b>
<%= check_box_tag 'b', 'b', ((@contents[:dphi][:ff_images] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>unique_ident:</b>
<%= check_box_tag 'b', 'b', ((@contents[:dphi][:unique_ident] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>unique_ident_e:</b>
<%= @contents[:dphi][:unique_ident_e] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>info_disclosed:</b>
<%= @contents[:dphi][:info_disclosed] rescue '' %><br />
&nbsp;&nbsp;<b>pdphi:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>protect_phi:</b>
<%= @contents[:pdphi][:protect_phi] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>destroy_phi:</b>
<%= @contents[:pdphi][:destroy_phi] rescue '' %><br />
&nbsp;&nbsp;<b>pis:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>certify_phi:</b>
<%= check_box_tag 'b', 'b', ((@contents[:pis][:certify_phi] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_sig:</b>
<%= @contents[:pis][:pi_sig] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_date:</b>
<%= @contents[:pis][:pi_date] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi_printname:</b>
<%= @contents[:pis][:pi_printname] rescue '' %><br />
<% end %>
<% if @form.part == 'S' %>
  <p id='notice'><%= notice %></p>
&nbsp;&nbsp;<b>full_board:</b>
<%= check_box_tag 'b', 'b', ((@contents[:full_board] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>expedited_review:</b>
<%= check_box_tag 'b', 'b', ((@contents[:expedited_review] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>exempt_review:</b>
<%= check_box_tag 'b', 'b', ((@contents[:exempt_review] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>title:</b>
<%= @contents[:title] rescue '' %><br />
&nbsp;&nbsp;<b>pi:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pi:</b>
<%= @contents[:pi][:pi] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>department:</b>
<%= @contents[:pi][:department] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>division:</b>
<%= @contents[:pi][:division] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>expertise:</b>
<%= check_box_tag 'b', 'b', ((@contents[:pi][:expertise] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>suggestions:</b>
<%= @contents[:pi][:suggestions] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>additional:</b>
<%= check_box_tag 'b', 'b', ((@contents[:pi][:additional] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>materials:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>CCI_application:</b>
<%= check_box_tag 'b', 'b', ((@contents[:materials][:CCI_application] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>sponsor:</b>
<%= check_box_tag 'b', 'b', ((@contents[:materials][:sponsor] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>brochure:</b>
<%= check_box_tag 'b', 'b', ((@contents[:materials][:brochure] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>grant:</b>
<%= check_box_tag 'b', 'b', ((@contents[:materials][:grant] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>informed:</b>
<%= check_box_tag 'b', 'b', ((@contents[:materials][:informed] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>other:</b>
<%= check_box_tag 'b', 'b', ((@contents[:materials][:other] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>specify:</b>
<%= @contents[:materials][:specify] rescue '' %><br />
&nbsp;&nbsp;<b>merit:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>adequate:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:adequate] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>risk:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:risk] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>risk_reduced:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:risk_reduced] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>risks_described:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:risks_described] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>study_design:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:study_design] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>sample_size:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:sample_size] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>outcome_measure:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:outcome_measure] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>statistical_plan:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:statistical_plan] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>pre_clinical:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:pre_clinical] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>human_subjects:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:human_subjects] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>meet_goals:</b>
<%= check_box_tag 'b', 'b', ((@contents[:merit][:meet_goals] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>comments:</b>
<%= @contents[:merit][:comments] rescue '' %><br />
&nbsp;&nbsp;<b>D_SMP:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>determined_risk:</b>
<%= check_box_tag 'b', 'b', ((@contents[:D_SMP][:determined_risk] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>no_whatisrisk:</b>
<%= @contents[:D_SMP][:no_whatisrisk] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>plan_appropriate:</b>
<%= check_box_tag 'b', 'b', ((@contents[:D_SMP][:plan_appropriate] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>suggestions:</b>
<%= @contents[:D_SMP][:suggestions] rescue '' %><br />
&nbsp;&nbsp;<b>revisions:</b><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>can_submit:</b>
<%= check_box_tag 'b', 'b', ((@contents[:revisions][:can_submit] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>requires_revisions:</b>
<%= check_box_tag 'b', 'b', ((@contents[:revisions][:requires_revisions] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>date:</b>
<%= @contents[:revisions][:date] rescue '' %><br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>reviewed:</b>
<%= check_box_tag 'b', 'b', ((@contents[:revisions][:reviewed] rescue 0)=='0' ? false : 1), disabled:true %><br />
&nbsp;&nbsp;<b>print_name:</b>
<%= @contents[:print_name] rescue '' %><br />
&nbsp;&nbsp;<b>date:</b>
<%= @contents[:date] rescue '' %><br />
&nbsp;&nbsp;<b>signature:</b>
<%= @contents[:signature] rescue '' %><br />
<% end %>
<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', :back %>
