<%= form_for(@ctum) do |f| %>
  <% if @ctum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ctum.errors.count, "error") %> prohibited this ctum from being saved:</h2>

      <ul>
      <% @ctum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pi_id %><br />
    <%= f.number_field :pi_id %>
  </div>
  <div class="field">
    <%= f.label :workflow_status %><br />
    <%= f.number_field :workflow_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
