<p id="notice"><%= notice %></p>

<p>
  <b>Pi:</b>
  <%= @ctum.pi_id %>
</p>

<p>
  <b>Workflow status:</b>
  <%= @ctum.workflow_status %>
</p>


<%= link_to 'Edit', edit_ctum_path(@ctum) %> |
<%= link_to 'Back', cta_path %>
